.train-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .train-table th,
  .train-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .train-table th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .train-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .train-table tr:hover {
    background-color: #ddd;
  }
  
  .train-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .train-table button {
    padding: 5px 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .train-table button:hover {
    background-color: #45a049;
  }
  